html {
  height: 100%;
}

body {
  height: 100%;
  margin: 5%;
}

h1 {
  text-align: center;
}

#track-map {
  height: 90%;
  margin-bottom: 20px;
}

.location {
  display: inline-block;
  margin-right: 20px;
}

