<!DOCTYPE html>
<html lang="zh">

{% load static %}

<head>
  <!-- for mobile platform convenience -->
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>LoRa Bike Tracking</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
  <link rel="stylesheet" href="{% static 'css/datarecord.css' %}" />
</head>

<body>
  <h1>LoRa Bike Tracking History</h1>
  <div id="track-map"></div>
  
  {% if record_list %}
    <table class='table table-hover table-striped'>
      <tr>
        <th>Time</th>
        <th>Device Id</th>
        <th>Frame Count</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>RSSI</th>
        <th>SNR</th>
        <th>Co_x</th>
        <th>Co_y</th>
        <th>Distance(m)</th>
      </tr>
    {% for record in record_list %}
      <tr>
        <td class='tr-num'>{{ record.track_time }}</td>
        <td class='id-num'>{{ record.device_id }}</td>
        <td class='fr-num'>{{ record.frame_count }}</td>
        <td class='la-num'>{{ record.latitude }}</td>
        <td class='lo-num'>{{ record.longitude }}</td>
        <td class='rs-num'>{{ record.rssi }}</td>
        <td class='sn-num'>{{ record.snr }}</td>
        <td class='x-num'>{{ record.co_x }}</td>
        <td class='y-num'>{{ record.co_y }}</td>
        <td class='di-num'>0.00</td>
      </li>
    {% endfor %}
    </ul>
  {% else %}
    <p>No data records are available.</p>
  {% endif %}

  <!-- include the javascript api file -->
  <script src="http://api.map.baidu.com/api?v=3.0&ak=PsXGGKusCXo2tR27G3esOysXcMs0OG6b"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="{% static 'js/datarecord.js' %}"></script>
</body>

</html>

