<!DOCTYPE html>
<html lang="zh">

{% load static %}

<head>
  <!-- for mobile platform convenience -->
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>LoRa Bike Tracking</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
  <link rel="stylesheet" href="{% static 'css/livemap.css' %}" />
</head>

<body>
  <h1>LoRa Bike Tracking</h1>
  <div id="track-map"></div>
  <p class="location">Time:&nbsp;<span id='tr-num'>{{ track_time }}</span></p>
  <p class="location">Frame Count:&nbsp;<span id='fr-num'>{{ frame_count }}</span></p>
  <p class="location">Latitude:&nbsp;<span id='la-num'>{{ latitude }}</span></p>
  <p class="location">Longitude:&nbsp;<span id='lo-num'>{{ longitude }}</span></p>
  <p class="location">RSSI:&nbsp;<span id='rs-num'>{{ rssi }}</span></p>
  <p class="location">SNR:&nbsp;<span id='sn-num'>{{ snr }}</span></p>
  <!-- include the javascript api file -->
  <script src="http://api.map.baidu.com/api?v=3.0&ak=PsXGGKusCXo2tR27G3esOysXcMs0OG6b"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="{% static 'js/livemap.js' %}"></script>
</body>

</html>
