<!DOCTYPE html>
<html lang="zh">

{% load static %}

<head>
  <!-- for mobile platform convenience -->
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>LoRa Bike Tracking</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
  <link rel="stylesheet" href="{% static 'css/livemap.css' %}" />
</head>

<body>
  <h1>LoRa Bike Tracking</h1>
  <div id="track-map"></div>
  {% if record_list %}
    <ul>
    {% for record in record_list %}
      <li>
        <p class="location">Time:&nbsp;<span class='tr-num'>{{ record.track_time }}</span></p>
        <p class="location">Device Id:&nbsp;<span class='id-num'>{{ record.device_id }}</span></p>
        <p class="location">Frame Count:&nbsp;<span class='fr-num'>{{ record.frame_count }}</span></p>
        <p class="location">Latitude:&nbsp;<span class='la-num'>{{ record.latitude }}</span></p>
        <p class="location">Longitude:&nbsp;<span class='lo-num'>{{ record.longitude }}</span></p>
        <p class="location">RSSI:&nbsp;<span class='rs-num'>{{ record.rssi }}</span></p>
        <p class="location">SNR:&nbsp;<span class='sn-num'>{{ record.snr }}</span></p>
        <p class="location">Co_x:&nbsp;<span class='x-num'>{{ record.co_x }}</span></p>
        <p class="location">Co_y:&nbsp;<span class='y-num'>{{ record.co_y }}</span></p>
      </li>
    {% endfor %}
    </ul>
  {% else %}
    <p>No data records are available.</p>
  {% endif %}
  <!-- include the javascript api file -->
  <script src="http://api.map.baidu.com/api?v=3.0&ak=PsXGGKusCXo2tR27G3esOysXcMs0OG6b"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="{% static 'js/livemap.js' %}"></script>
</body>

</html>
